 <%- include('headerGlobal'); -%>
 <h1 class="topSpacer"><p></p>.</h1>
 <p></p>
  <div class ="text-center">
  <h2><u>USER DASHBOARD</u></h2>
  </div>
<p></p>
<div class="container ">
  <div class="row justify-content-center">
    <div class="card " style="width: 90vw;">
      <ul class="list-group list-group-flush">
        <p></p>
      <!--  <h3 class = "text-center">Sightings List</h3> -->
        <li class="list-group-item ">
          <div class="row justify-content-center">
            <div class="row px-0 ">
              <div class ="col-12 px-0">
                  <div>
                    You have logged in!
                  </div>
                  <!--    <div>
                <input type="hidden" name="created_Date" value="edited-<%= /*Date() */ %>"></div> -->
    <!--               <div class="row justify-content-center">
                    <div class="col-auto"><input type="submit" value="Submit"></div> -->
                  </div> 
       
              </div> 
            </div>     
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<%-include('footer');-%>